/* Custom styles for the jobs table */
.table {
    margin-top: 20px;
    border: 1px solid black !important;
  }
  
  .table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  Stack
  {
    margin-right: 300px !important;
  }