/* Navbar Styling */
.navbar-green {
  background-color: #007321; /* Green background */
  padding: 10px 20px;
}

.nav-link {
  color: white !important; /* White text for links */
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px; /* Spacing between links */
  text-transform: capitalize;
  font-family: 'Times New Roman', serif;
  text-decoration: none;
}

.nav-link .active{
  background-color:white;
}

.nav-link:hover {
  text-decoration: none; /* Underline on hover */
  color: #000000 !important; /* Highlighted yellow text on hover */
  background-color: white;
  border-radius: 5px;
}

.navbar-buttons .btn-outline-light {
  color: #000000; /* Blue text */
  background-color: white; /* White background */
  font-weight: bold;
  padding: 6px 12px;
  font-family: 'Times New Roman', serif;
}

.navbar-buttons .btn-outline-light:hover {
  background-color: #e6e6e6; /* Light grey on hover */
  color: #000000;
}

.navbar-buttons .btn-yellow {
  background-color: rgb(230, 203, 31); /* Yellow background */
  color: #000000; /* Blue text */
  font-weight: bold;
  padding: 6px 12px;
  font-family: 'Times New Roman', serif;
}

.navbar-buttons .btn-yellow:hover {
  background-color: #d1b61c; /* Darker yellow on hover */
  color: rgb(0, 0, 0); /* White text */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.set-width
{
width: 100%;
}
